header {
	position: relative;
}

.header-img {
	width: 100%;
	max-height: 650px;
}

.photo-child {
	position: absolute;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    line-height: 60px;
    color: white;
}

.directions {
	font-size: 40px;
}